@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #090a0b;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #d9ff4f;
  color: #090a0b;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #090a0b;
}

::-webkit-scrollbar-thumb {
  background: #272b27;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d9ff4f;
}